#root {
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


/* Header Style */

.headre {
  background-color: orange;
  height: 100px;
}

.cart-div {
  float: right;
  position: relative;
  margin: 25px;
}

.count-div {
  position: absolute;
  right: 3px;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  top: -17px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-container {
  margin-top: 10px;
  border: 2ps solid silver;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.product-item {
  border: 2px solid silver;
}

.product-item img {
  max-width: 250px;
}

.cart-page-container {
  display: flex;
  margin-inline: 30px;
  justify-content: center;
}

.cart-page-container table {
  width: 750px;
  border-collapse: collapse;
}

.cart-page-container table td {
  border: 1px solid black;
  padding: 15px;
}

.price-details {
  width: 200px;
  margin-inline: 25px;
}

.adjust-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dddd;
}

.adjust-price span {
  font-size: 20px;
}